.header {
	display: flex;
	justify-content: center;

	background-color: #4318ff;
	text-decoration: none;
	color: #ffffff;
	box-shadow: 0 0 0.2em #000000bb;

	width: 100%;
	padding: 1.2rem 1rem;
	border-radius: 0.8rem;
}
