.quiz-container {
	max-width: 700px;
	align-self: center;

	width: 100%;
	margin: 0 auto;
}

.img-container {
	margin: 1rem;
	position: relative;
}

.img-container .question-title {
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin-right: 10px;

	font-size: 1.3rem;

	background-color: #4318ff;
	color: #ffffff;
	padding: 0.5rem 1rem;
	border-radius: 0.8rem;
}

.question-img {
	width: 100%;
	border-radius: 5px;
}

.question-container {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
}

.question-container .alt {
	text-align: left;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;

	border: 1px solid #2200b7;
	border-radius: 10px;

	background-color: #e9edf4;

	color: #2200b7;

	transition: 0.3s;
}

.question-container .alt:hover {
	border-radius: 10px;

	background-color: #2200b7;

	color: #e9edf4;
}

.question-container .alt.red {
	background-color: #e31a1a;
	color: #fff;
}
.question-container .alt.green {
	background-color: #01b574;
	color: #fff;
}

.finishQuizImg {
	padding: 1rem;
	width: 100%;
	position: relative;
}

.finishQuizImg img {
	width: 100%;
	border-radius: 10px;
}

.finishQuizImg button {
	font-size: 0;
	position: absolute;
	left: 10px;
	bottom: 15px;

	padding: 0.5rem 1rem;
	font-size: 1.5rem;

	border: 1px solid #2200b7;
	border-radius: 10px;

	background-color: #2200b7;

	color: #e9edf4;

	cursor: pointer;
}

.finishQuizImg div {
	position: absolute;
	right: 10px;
	bottom: 15px;

	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	background-color: #e9edf4;

	color: #2200b7;
	border: 1px solid #2200b7;
	border-radius: 10px;
}

.finishQuizImg button:hover {
	background: brightness(0.7);
}

@media (max-width: 576px) {
	.img-container .question-title {
		margin: -0.5rem;
		position: relative;
		bottom: 0;
		left: 0;
	}
}
